@font-face {
  font-family: 'tex';
  src: url('./fonts/texgyreadventor-regular.otf');
}

@font-face {
  font-family: 'texbold';
  src: url('./fonts/texgyreadventor-bold.otf');
}
  
body 
{
  width:500px;
  margin:0;
  padding:0;
}

p, div   
{
  font-family: 'tex', arial, sans-serif;
  font-size: 14px;
  text-align:left;  
  
}

.prvni
{
  width:100%;
  background: #FFFFFF; 
  margin-top:50px;      
  float: left;    
}

.druhy
{
  width:100%;
  background: #FFFFFF; 
  margin-top:50px; 
  float: left;          
}

.treti
{
  width:100%;
  background: #6b89a4;
  background-image: url(./images/pozadi_zavorka.png););
  background-position: 50% 0%;
  background-repeat: no-repeat;  
  margin-top:50px;  
  padding-top:20px;
  padding-bottom:20px;
  float: left;          
}

.ctvrty
{
  width:100%;        
  background: #FFFFFF;    
  float: left;     
  padding-top:20px;
  padding-bottom:20px;
}

.paty
{
  width:100%;        
  background: #eaf2fa;
  float: left;     
  padding-top:20px;
  padding-bottom:20px;
}

.sesty
{
  width:100%;        
  background: #FFFFFF; 
  float: left;    
  padding-top:20px;
  padding-bottom:20px;
}

.kdozatimstoji
{
  width:100%;        
  background: #6b89a4; 
  float: left;    
  padding-top:20px;
  padding-bottom:20px;
}

.sedmy
{
  width:100%;        
  background: white; 
  float: left;    
  padding-top:20px;
  padding-bottom:20px;
}

.chcete_kalkulaci
{
  width:100%;        
  background: white; 
  float: left;    
  padding-top:20px;
  padding-bottom:50px;
}

.kontakt
{
  width:100%;        
  background: #263746; 
  float: left;    
  padding-top:20px;
  padding-bottom:20px;
}

.mapa
{
  width:100%;        
  background-image: url(./images/mapa.png);
  height:300px;
  float: left;    
  padding-top:20px;
  padding-bottom:20px;
}

.paticka
{
  width:100%;        
  background: #263746;    
  float: left;    
  padding-top:20px;   
}

.stred
{       
  width: 90%;           
  margin: 0 auto;    
}

.pulka1
{
  float: left;
  width:100%;  
  text-align:center;      
}

.pulka2
{
  float: left;
  width:100%;     
  text-align:center; 
  margin-top:20px;  
}

.tretina
{
  float: left;
  width:100%;    
  margin-bottom:20px; 
  text-align:center;  
}

ul
{
  list-style-type: none;
  margin: 0; 
  //padding: 0;   
  overflow: hidden;  
      
}    

.prvni .pulka2 ul
{
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  padding-top:40px;   
}

.prvni .pulka2 ul li
{
  float:left;   
}

.prvni .pulka2 ul li a
{
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;  
}

.prvni .pulka2 ul li a:hover 
{
   color: #6b89a4;
}
   
.myButton {
	 background-color:#263746;    	
	 display:inline-block;
	 cursor:pointer;
	 color:#ffffff;
	 font-family: 'Oswald', sans-serif;
	 font-size:36px;
	 font-weight:bold;
	 padding:15px 60px;
	 text-decoration:none;      
   margin-top:20px;
   margin-bottom:10px;
}

.myButton:hover {
	 background-color:#6b88a3;
}


.hlavni_text
{
   font-family: 'Oswald', sans-serif;
   font-size: 42px;
   width:100%;
   float: left;
   text-align: center;
}
       
h2    
{
   font-family: 'Oswald', sans-serif;
   font-size: 40px;
   text-align:left;
   margin:0;
   padding:0;
   
}

.treti .pulka1 h2
{
  color:white;
}

.treti .pulka1 ul
{      
  margin:0;
  padding:0; 
  margin-top: 20px;
}

.treti .pulka1 ul li
{
  background-image: url(./images/fajfka_bila.png); 
  background-repeat: no-repeat;
  background-position: 0% 60%;
  //background-size: 12%;          
}

.treti .pulka1 ul li p
{          
  font-family: 'Oswald', sans-serif; 
  font-size: 36px;
  font-weight: 300; 
  margin:0px;
  margin-left:60px;
  color: white; 
}

.treti .pulka2 ul
{
  margin:0;
  padding:0;
  margin-top: 20px;
}

.treti .pulka2 ul li
{          
  background-image: url(./images/fajfka_cerna.png);
  background-repeat: no-repeat;
  background-position: 0% 75%;
  //background-size: 12%;
  color: black;      
}

.treti .pulka2 ul li p
{          
  font-family: 'Oswald', sans-serif; 
  font-size: 36px;
  font-weight: 300; 
  margin:0px;
  margin-left:60px;
}

.treti .pulka2 p
{
  //float:right;
  font-family: 'tex', sans-serif; 
  font-size: 16px;   
  margin-left:50px; 
}

.treti .pulka2 p a
{       
  color: #263746; 
}

.ctvrty h2
{
  color:black;   
}

.ctvrty p
{     
  margin-right:25px;    
  color:#696969;    
}

.paty .stred
{
  width: 50%;           
  margin: 0 auto;  
  text-align:center; 
}

.paty img
{
  padding:30px;
  vertical-align: middle;
}

.sesty p
{
  color:#696969; 
}

.kdozatimstoji .logo
{
  margin-top:30px;
  margin-bottom:30px; 
}

.kdozatimstoji p
{
  text-align:center;
  color:#FFFFFF;
}

.kdozatimstoji h2
{
  color:#FFFFFF;
}

.kdozatimstoji .pulka2 img
{
  margin:0px 40px 0px 40px;
}

.kdozatimstoji .pulka2 p
{  
  font-family: 'Oswald', sans-serif; 
  font-size: 18px;
  margin:8px;  
}

.kdozatimstoji .pulka2 .napln
{  
  font-family: 'tex', sans-serif;
  font-size: 14px;    
  color: black; 
}

.sedmy p
{
  padding-left:10px;   
}

.sedmy .pulka1
{
  background: #eaf2fa;  
  padding:30px 0px 30px 0px;   
   
}

.sedmy form
{  
  text-align:center;
  margin-top:20px;
  margin-bottom:20px;
}

.sedmy .radia
{  
  margin-left:20px;
}

.sedmy .numberak
{
  width:35px;  
  height:30px; 
  margin-left:10px;
  text-align:center;
}

.sedmy .pulka2 ul
{
  list-style-type: none;      
  font-family: arial, sans-serif;
  font-size: 14px;
  float: none; 
  text-align:left;   
}

.chcete_kalkulaci input
{
  width:95%;
  height:30px;
  padding-left:3px; 
  
}

.chcete_kalkulaci input:hover
{         
  border:1px solid #79d78d;
}

.chcete_kalkulaci p a
{         
  color: #263746; 
}


.chcete_kalkulaci .radio
{
  width:15px;
  height:15px; 
  margin:15px;     
}

.chcete_kalkulaci .radiony
{
  width:100%;   
  text-align:left;  
}

.poznamky
{
  float:left;
  width:100%;    
  text-align:center;     
}

.poznamky textarea
{
  width:100%
}

.kontakt h2
{
  color:#FFFFFF;  
}

.kontakt p
{
  color:#FFFFFF;  
}

.kontakt input
{
  width:100%;
  height:30px;
  padding-left:3px; 
}

.kontakt textarea
{
  width:100%;
}

#cap
{
   width:30px;
}

.myButton2
{
  background-color:#6c4837;   	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Oswald', sans-serif;
	font-size:18px;
//	margin-left:5px;      	 
  padding: 10px ;     
	text-decoration:none;  
  float:right;            
}


.kontakt .tretina
{
  width:100%;
}

.kontakt .tretinavetsi
{
  width:100%;
  float: left;     
}


.paticka .tretina
{
  width:100%;
  text-align: left;
}

.paticka .tretinavetsi
{
  width:100%;
  float: left;     
}

.paticka p
{
  font-family:'tex', Arial;
  font-size: 14px;  
  font-weight: 300;  
  margin:5px;
  padding:0; 
  color:#b4b4b4;      
}

.paticka .imgGFT
{
   float:right;
   margin-left:10px;  
   margin-top:10px;
   cursor:pointer;
}

.paticka .tretinavetsi ul
{
   font-family: 'tex', Arial;
   font-size: 14px; 
   margin:0;
   padding:0;  
}

.paticka .tretinavetsi ul li
{
   float:left;   
}

.paticka .tretinavetsi ul li a
{
   display: block;
   color: #b4b4b4;
   text-align: left;
   padding-left: 10px;
   text-decoration: none;  
}

.paticka p
{
  font-size: 12px; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}



